<div class="about-container flex justify-around text-black px-8 pb-20" id="about">
    <div class="tag-clouds">
        <% if (site.tags.length){ %>
            <div class="widget-wrap">
                  <h3 class="widget-title"><%#= __('tagcloud') %></h3>
                  <div class="widget tagcloud">
                
                    <%#- tagcloud() %>
                  </div>
            </div>
        <% } %> 
    </div>
    
    

</div>