<div class="about-container flex justify-around text-black px-8 pb-20" id="about">
    <div class="tag-clouds">
        <% if (site.tags.length){ %>
            <div class="widget-wrap">
                  <h3 class="widget-title"><%#= __('tagcloud') %></h3>
                  <div class="widget tagcloud">
                
                    <%#- tagcloud() %>
                  </div>
            </div>
        <% } %> 
    </div>
    <div class="sub-container max-w-lg pr-10 pt-40">
       
        <div class="flex ">
            <h1 class="about-heading text-3xl md:text-4xl object-cover  font-medium ">What is Plantyouridea</h1>
            <div class="w-20 h-10">
                <img class="object-cover" src="/img/favicon_plant.ico" alt=""  width="40" height="10">
            </div>
            
        </div>
        
        <p class="about-content text-xl font-normal tracking-normal leading-6 mb-7 ">Plantyouridea is a website which provides you different courses & solutions to your problem. It is a learning platform for various languages and framework.</p>
    </div>
   
    
</div>