<div style="background-color: #141618;">
    <div class="flex justify-center w-full px-8 pt-8 pb-16 mx-auto font-normal text-gray-200 after-footer" style="background-color: #141618;">
        <p class="ml-2 text-sm leading-4 ">Terms & Conditions</p>
        <p class="ml-10 text-sm leading-4 "> © plantyouridea.com</p>
    </div>
</div>