<div class="">
    <%- partial('_partial/header') %>
</div>

<div class="h-full pt-16 text-black content-post">    
    <!-- Content -->
    <div class="flex justify-around pb-8 text-black bg-white">
        <div class="flex font-medium text-black item-content"  >

            <div class="items-center w-full font-sans text-xl bg-white">
                 <%- item.content %>
            </div>
        </div>
    </div>
    
    <div class="justify-center footer-container">
        <%- partial('_partial/footer') %> 
        <%- partial('_partial/after-footer') %> 
    </div>
   
</div>