<div class="flex justify-start mb-16 ml-6 -mt-8 card-header">
    <div class="main-head ">
        <span class="main-head-s1">What's New</span>
        <span class="main-head-s2">Latest published courses</span>
    </div>
    
</div>
