<div class="flex justify-between px-20">
    <div class="main-head -ml-4">
        <span class="main-head-s1">What's New</span>
        <span class="main-head-s2">Latest published posts</span>
    </div>
    <div>
        <button class="Browse-all mt-3">browse all <span> ▸</span>
    
        </button>
    </div>
</div>
