<div class="flex justify-center px-20 mb-16 -mt-8">
    <div class="main-head ">
        <span class="main-head-s1">What's New</span>
        <span class="main-head-s2">Latest published courses</span>
    </div>
    
</div>
