<div class="p-8 border-b border-gray-900" style="background-color: #141618;">
    <div class="mx-auto text-center footer-main " style="background-color: #141618;">
    
        <a class="relative " onclick="document.getElementById('footer-hamburger-menu')">
            <button class=" footer-nav-toggle" aria-label="open navigation">
                <span class="hamburger"></span>
            </button>
        </a>
        <a class="inline w-1/3 " href="#">
            <span class="flex inline w-64 px-2 pb-8">
               <img src="/img/favicon_plant.ico" alt="" width="30" height="20">
                <p class="ml-1 text-xl font-extrabold text-white align-middle">
                     plantyouridea.com</p> 
            </span>
        </a>
        
        <div class="justify-between md:flex " id="footer-hamburger-menu">
            
            <nav class="flex justify-start w-1/3 ml-4 footer__nav">
                <ul class="mx-6 text-white nav__list nav__list--primary">
                    <h1 class="mb-2 font-semibold text-left sidebar-title">About</h1>
                    <li class="py-2 text-sm text-left text-gray-400 nav__item hover:text-gray-300">
                        <a href="<%- url_for(theme.menu.about.url) %>" class="nav__link ">About  Plantyouridea</a></li>
                    <li class="py-2 text-sm text-left text-gray-400 nav__item hover:text-gray-300">
                        <a href="" class="nav__link ">Who we are </a></li>
                    <li class="py-2 text-sm text-left text-gray-400 nav__item hover:text-gray-300"><a href="<%- url_for(theme.menu.about.team.url) %>" class="nav__link ">Meet the team</a></li>
                </ul>
                <ul class="mx-6 text-white nav__list nav__list--primary">
                    <h1 class="mb-2 font-semibold text-left sidebar-title">Trainings</h1>
                    <li class="py-2 text-sm text-left text-gray-400 nav__item hover:text-gray-300"><a href="" class="nav__link ">Hexo</a></li>
                    <li class="py-2 text-sm text-left text-gray-400 nav__item hover:text-gray-300"><a href="" class="nav__link ">Tailwind ui</a></li>
                    <li class="py-2 text-sm text-left text-gray-400 nav__item hover:text-gray-300"><a href="" class="nav__link ">Adapt</a></li>
                </ul>
                
            </nav>
           
        </div>
       
    </div>
    
</div>
<script>
    const navToggle = document.querySelector('.footer-nav-toggle');
    const nav = document.querySelector('.footer__nav');


    navToggle.addEventListener('click', () => {
    nav.classList.toggle('footer__nav--visible');
    })
</script>


