<div class="relative">
    <header class="px-4 flex  relative">
        <div class="flex w-full justify-between relative">
            <a class="" href="#">
                <span class="flex">
                   <!-- <img class="h-8 w-8" src="/img/favicon.ico" alt=""> -->
                   <img src="/img/favicon_plant.ico" alt="" width="30" height="20">
                    <p class="align-middle font-extrabold text-white text-xl ml-1">
                         plantyouridea.com</p> 
                </span>
            </a>
            <header class="relative pt-0 pr-0 ">
                <a href="#main-menu" id="main-menu-toggle" class="menu-toggle  no-underline  "  aria-label="Open main menu">
                  <span class="sr-only">Open main menu</span>
                  <span class="fa fa-bars text-white " aria-hidden="true"></span>
                </a>
       
                <nav id="main-menu" class="relative main-menu flex flex-col " aria-label="Main menu">
                    <a href="#main-menu-toggle" class="menu-close  no-underline " id="main-menu-close" aria-label="Close main menu">
                      <span class="sr-only">Close main menu</span>  
                      <span class="fa fa-close text-white" aria-hidden="true"></span>
                    </a>
                    <ul class="relative font-semibold">
                      <li class="dropdown border-b border-gray-700 border-dotted">
                          <button class="dropbtn  text-white no-underline mt-4 ml-4 md:ml-0 lg:ml-0 xl:ml-0 font-semibold block" onclick="location.href ='<%- url_for(site.topics) %>' " >Services</button>
                          <div class="dropdown-content hidden">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                          </div>
                        </li>

                      <li class="py-2">
                          <a class=" no-underline  text-sm  align-items-center text-white " href="#"> 
                           <%- theme.menu.browse.text %>
                          </a>
                      </li>
                      <li class="py-2">
                          <a href="#" class="text-white  no-underline ">Contact</a>
                        </li>
                      <li class="py-2">
                          <a href="#" class="text-white  no-underline ">Training</a>
                        </li>
                      <li class="py-2">
                          <a href="#" class="text-white  no-underline ">Products</a>
                        </li>
                      <li class="py-2">
                          <a href="#" class="text-white  no-underline ">Blog</a>
                        </li>
                      <li class="py-2">
                          <a href="#" class="text-white  no-underline "><i class="fa fa-github " aria-hidden=""></i>
                          </a>
                        </li>
                      <li class="py-2">
                          <a href="#" class="text-white  no-underline "><i class="fa fa-twitter" aria-hidden=""></i>
                        </a>
                      </li>
                      
                    </ul>
                  </nav>
                  <a href="#main-menu-toggle" class="backdrop" tabindex="-1" aria-hidden="true" hidden></a>
              </header>
           </div>
            
        </div>
           
    </header>
</div>