<div class="w-full hero ">
    <div class="justify-center w-full intro-section " id="intro">
        <div class="flex justify-center w-full py-8 md:w-1/3 lg:w-1/3 xl:w-1/3 md:pt-0 md:float-right">
            <a href="">
                <img class="w-full h-full cks-img md:w-full md:h-full shadow-4xl " src="/img/hexo.png" alt="" >
            </a>
        </div>
        <div class="justify-center max-w-xl mx-8 text-center md:max-w-md lg:max-w-xl xl:max-w-3xl md:-ml-4 intro-text-container md:text-left md:justify-start md:mx-0">
            <div class="flex flex-col justify-center w-full">
                <h1 class="flex justify-center font-sans text-5xl font-semibold tex intro-h1">Learn to use Hexo Framework to generate your new Website </h1>
                <h2 class="mt-2 text-xl font-normal intro-h2 xl:ml-2">Videos link for better understanding. Create your own website easily with this framework. Deploy It in one click, manage and update all your files & folders easily.You will get to know everything about hexo framework.</h2>
            </div> 
            <div class="flex items-end justify-center ml-2 md:flex md:justify-start ">
                <a class="self-end my-16 text-center rounded-lg start-btn" href="">
                    <span class="self-center shadow-2xl click-start">CLICK TO START</span>
                </a>
            </div>
        </div>
    </div>
</div>


