<div class="hero ">
    <div class="justify-around intro-section " id="intro">
        <div class="flex justify-center py-8 md:pt-0 md:float-right">
            <a href="">
                <img class="w-full h-full cks-img md:w-full md:h-full shadow-4xl " src="/img/hexo.png" alt="" >
            </a>
        </div>
        <div class="justify-center max-w-xl mx-8 text-center intro-text-container md:text-left md:mx-0">
            <div class="flex flex-col justify-center">
                <h1 class="flex flex-wrap justify-center font-sans text-5xl font-semibold intro-h1">Learn to use Hexo Framework to generate your new Website </h1>
                <h2 class="mt-2 text-xl font-normal intro-h2">Videos link for better understanding</h2>
            </div> 
            <div class="flex items-center justify-center md:flex md:justify-start ">
                <a class="my-16 text-center rounded-lg start-btn" href="">
                    <span class="shadow-2xl click-start">CLICK TO START</span>
                </a>
            </div>
        </div>
    </div>
</div>


