@import url(header.css);
@import url(hero.css) ;
@import url(card-header.css) ;
@import url(course-card.css) ;
@import url(footer.css) ;

body{
    -webkit-font-smoothing: antialiased;
    background-color:  #2d3748;	
    min-height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    margin: 0 auto;
}


@media (max-width: 500px){
    .menu-container{
      display: flex;
      flex-direction: column;
    } 
}


/* footer hamburger menu */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .menu-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu-bar .services{
     height: auto;
    
  }
}




.page-header{
  margin-left: 300px;
}
.z-10:hover{
  z-index: 30;
}
.video-screen{
  height: 400px
}
@media (min-width: 375px),(max-width: 740px){
  .ul{
    display: flex;
    flex-direction: column;
  }
}

