@import "header.css" ;
@import "hero.css" ;
@import "card-header.css" ;
@import "course-card.css" ;
@import "footer.css" ;

body{
    -webkit-font-smoothing: antialiased;
    background-color:  #2d3748;	
    min-height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    margin: 0 auto;
}


@media (max-width: 500px){
    .menu-container{
      display: flex;
      flex-direction: column;
    } 
}


/* footer hamburger menu */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .menu-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu-bar .services{
     height: auto;
    
  }
}




.page-header{
  margin-left: 300px;
}
.z-10:hover{
  z-index: 30;
}
.video-screen{
  height: 400px
}
@media (min-width: 375px),(max-width: 740px){
  .ul{
    display: flex;
    flex-direction: column;
  }
}

/* @media (min-width:2560px){
  .head-container{
    padding: 0 450px;
  }
  .card-header{
    padding: 0 430px;
  }
  .intro-section{
    padding: 20px 470px;
  }
  .footer-container{
    padding: 0 440px;
  }
  .post-stub{
    height: 600px;
    width: 484px;
  }
  .instructor{
    margin-top: 40px;
  }
} */